<% 
        content_for :title do "Criar Município" end
%>
<h1>Criar Município</h1>
<%= render 'form' %>

<p><%= link_to "Voltar a lista", admin_cities_path, :class => "small button secondary" %></p>
