<% 
        content_for :title do "Criar Entidade" end
%>
<h1>Criar Entidade</h1>

<%= render 'form' %>

<p><%= link_to "Ver Todas", admin_city_entities_path(@city), :class => "small button secondary" %></p>
